<h3 style="color: #<%= @hexs[4] %>"> Let's play Fruits and Vegetables Hangman </h3>
<h1 style="color: #<%= @hexs[4] %>">(an image below will disappear each time you guess a letter incorrectly)<h1>

<h3 class='game-state' style="color: #<%= @hexs[3] %>">	
	<%= @word %>
</h3>


<div id="alpha">
<% ('A'..'Z').each do |letter|%>
	<button class='letter-button' data-letter="<%= letter %>" style="color: #<%= @hexs[0] %>; background-color: #<%= @hexs[4] %>"><%= letter %></button>
<% end %>

</div>


<div id="froot">
	<img id="froot1" src="/images/fruits/avocado-146953_640.png">
	<img id="froot2" src="/images/fruits/strawberry-36949_640.png">
	<img id="froot3" src="/images/fruits/grapes-34298_640.png">
	<img id="froot4" src="/images/fruits/peppers-319381_640.png">
	<img id="froot5" src="/images/fruits/coconut-303358_640.png">
	<img id="froot6" src="/images/fruits/bananas-311788_640.png">
</div>


<script>

  // GLOBAL ID OF GAME
	var gameID;  // Will be needed for url  which game

	// Update letter on the screen
	function updateGameState(text){
		$('h3.game-state').text(text);
	}


	// 
	function makeGuess(guessText){
		var gameURL = '/hangmans/' + gameID;

		$.ajax({
			method: "PATCH",
			url: gameURL,
			dataType: 'JSON',
			data: {guess: guessText},
			success: function(data){
      	updateGameState(data.game_state);
      	$('#froot'+(data.bad_guesses.length)).hide();

      	if (data.complete){
      		alert('Congrats! You Win!')
      		window.location = '/hangmans'
      	}

      	if (data.bad_guesses.length >= 6){
					alert('You lose, try again!')
					window.location = '/hangmans';
				}

			}
		})

	}

	// forEach(data.bad_guesses) {
	// 	for (var i = 0, i < 5, i++)

	// }

	function startGame(){
		$.ajax({
			method: "POST",
			url: '/hangmans',
			dataType: 'JSON',
			success: function(data){
				gameID = data.id;
				updateGameState(data.game_state);
			}
		})
	}


	$(function(){

		startGame();
		$('.letter-button').on('click', function(e){
			var guessText = $(this).data('letter');
			makeGuess(guessText);
			// $(this).remove(); this is what i had before
			$(this).attr("disabled", "disabled");
		});	
	
	})

	</script>
	


	<!-- // make a guess letter
		// update number of guess left...
		
		
	// IceBOX:
		// display simlies
		// make a guess letter
			// update number of smilies
		// At game over...
			// congrats the player (option to start again)





	// Make a list of possible letter
	// display simlies
	// get the word from the server
	// make a guess letter
		// update game states text with new word
		// update the possible letter list
		// update number of guess left...
		// update number of smilies


		// At game over...
			// congrats the player (option to start again)



 -->