<h3 style="color: #<%= @hexs[4] %>"> Let's play some Hangman </h3>

<h2 class='game-state' style="color: #<%= @hexs[3] %>">	
	<%= @word %>
</h2>


<div id="alpha">
<% ('A'..'Z').each do |letter|%>
	<button class='letter-button' data-letter="<%= letter %>" style="color: #<%= @hexs[0] %>; background-color: #<%= @hexs[4] %>"><%= letter %></button>
<% end %>

</div>

<div id="smiley">
	<img id="smiley1" src="/images/2000px-Smiley.svg.png">
	<img id="smiley2" src="/images/2000px-Smiley.svg.png">
	<img id="smiley3" src="/images/2000px-Smiley.svg.png">
	<img id="smiley4" src="/images/2000px-Smiley.svg.png">
	<img id="smiley5" src="/images/2000px-Smiley.svg.png">
</div>


<script>

  // GLOBAL ID OF GAME
	var gameID;  // Will be needed for url  which game

	// Update letter on the screen
	function updateGameState(text){
		$('h2.game-state').text(text);
		// $('#smilies'+(data.bad_guesses.length)).hide();
	}


	// 
	function makeGuess(guessText){
		var gameURL = '/hangmans/' + gameID;

		$.ajax({
			method: "PATCH",
			url: gameURL,
			dataType: 'JSON',
			data: {guess: guessText},
			success: function(data){
      	updateGameState(data.game_state);
      	$('#smiley'+(data.bad_guesses.length)).hide();

      	if (data.complete){
      		alert('Congrats! You Win!')
      		window.location = '/hangmans'
      	}

      	if (data.bad_guesses.length >= 5){
					alert('You lose, try again!')
					window.location = '/hangmans';
				}

			}
		})

	}

	// forEach(data.bad_guesses) {
	// 	for (var i = 0, i < 5, i++)

	// }

	function startGame(){
		$.ajax({
			method: "POST",
			url: '/hangmans',
			dataType: 'JSON',
			success: function(data){
				gameID = data.id;
				updateGameState(data.game_state);
			}
		})
	}


	$(function(){

		startGame();
		$('.letter-button').on('click', function(e){
			var guessText = $(this).data('letter');
			makeGuess(guessText);
			// $(this).remove(); this is what i had before
			$(this).attr("disabled", "disabled");
		});	
	
	})

	</script>
	


	<!-- // make a guess letter
		// update number of guess left...
		
		
	// IceBOX:
		// display simlies
		// make a guess letter
			// update number of smilies
		// At game over...
			// congrats the player (option to start again)





	// Make a list of possible letter
	// display simlies
	// get the word from the server
	// make a guess letter
		// update game states text with new word
		// update the possible letter list
		// update number of guess left...
		// update number of smilies


		// At game over...
			// congrats the player (option to start again)



 -->